<header class="header_area">
    <nav class="navbar navbar-expand-lg menu_one menu_four">
        <div class="container">
            <a class="navbar-brand sticky_logo" href="#"><img src="/assets/usertheme/img/logo2.png" srcset="/assets/usertheme/img/logo2x-2.png 2x" alt="logo"><img src="/assets/usertheme/img/logo.png" srcset="/assets/usertheme/img/logo2x.png 2x" alt=""></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu_toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menu w_menu ml-auto">
                    <li class="nav-item  active">
                        <a class="nav-link " href="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact us 
                        </a>
                    </li>
                </ul>
                <a class="btn_get btn_hover hidden-sm hidden-xs" href="#get-app">Create Account</a>
            </div>
        </div>
    </nav>
</header>
