
<div class="body_wrapper">

    <app-navbar></app-navbar>
    

    <section class="payment_banner_area">
        <div class="shape one"></div>
        <div class="shape two"></div>
        <div class="container">
            <div class="payment_banner_content wow fadeInLeft" data-wow-delay="0.4s">
                <h1 class="f_p f_700 f_size_50 w_color">The World's First Leading Artificial Intelligent Automated CTR Bot.</h1>
                <p class="w_color f_p f_size_18">We provide the best services in town, to make your site Rank top in Search Engine!</p>
                <div class="action_btn d-flex align-items-center mt_60">
                    <a href="#" class="btn_hover agency_banner_btn">Sign Up for Free</a>
                    <a href="#" class="agency_banner_btn_two">Find Out More<i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="animation_img_two wow fadeInRight" data-wow-delay="0.5s">
            <img src="/assets/usertheme/img/home9/mac.png" alt="">
        </div>
        <img class="svg_intro_bottom" src="/assets/usertheme/img/home9/shape.png" alt="">
    </section>

    <section class="payment_features_area">
        <div class="bg_shape shape_one"></div>
        <div class="bg_shape shape_two"></div>
        <div class="bg_shape shape_three"></div>
        <div class="container">
            <div class="row featured_item">
                <div class="col-lg-6">
                    <div class="payment_featured_img wow fadeInLeft" data-wow-delay="0.2s">
                        <img src="/assets/usertheme/img/home9/featured_img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="payment_features_content pl_70 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="icon">
                            <img class="/assets/usertheme/img_shape" src="/assets/usertheme/img/home9/icon_shape.png" alt="">
                            <img class="icon_img" src="/assets/usertheme/img/home9/icon1.png" alt="">
                        </div>
                        <h2>Quick & Easy Process</h2>
                        <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney argy-bargy cracking goal loo cheers spend.!</p>
                        <a href="#" class="btn_hover agency_banner_btn pay_btn">Sign Up for Free</a>
                        <a href="#" class="btn_hover agency_banner_btn pay_btn pay_btn_two">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="prototype_service_area" style="background-color: transparent !important;">
        <div class="container custom_container">
            <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Your enterprise carrier in the Cloud</h2>
                <p class="f_400 f_size_16 mb-0">WShow off show off pick your nose and blow off Elizabeth grub haggle <br> dropped a clanger cracking.!</p>
            </div>
            <div class="service_carousel owl-carousel owl-loaded owl-drag">




                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1750px, 0px, 0px); transition: all 2s ease 0s; width: 2917px;">
                        <div class="owl-item cloned" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_two"><i class="ti-location-arrow"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/inbox.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_three"><i class="ti-search"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/file.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_four"><i class="ti-stats-up"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/report.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_one"><i class="ti-check"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/undraw.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_two"><i class="ti-location-arrow"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/inbox.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_three"><i class="ti-search"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/file.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_four"><i class="ti-stats-up"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/report.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_one"><i class="ti-check"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/undraw.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_two"><i class="ti-location-arrow"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/inbox.png" alt="">
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 276.667px; margin-right: 15px;">
                            <div class="service_item">
                                <div class="icon s_icon_three"><i class="ti-search"></i></div>
                                <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Mail Metrics<br> Receive</h4>
                                <p>Brolly off his nut A bit of how's your father chancer in my flat chinwag bog skive.</p>
                                <img class="float-right" src="/assets/usertheme/img/home2/file.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"><i class="ti-arrow-left"></i></button></div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </section>

    <section class="payment_service_area">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-4">
                    <div class="service-content wow fadeInRight" data-wow-delay="0.2s">
                        <div class="pay_icon">
                            <div class="icon_shape"></div>
                            <img src="/assets/usertheme/img/home9/icon3.png" alt="">
                        </div>
                        <h2 class="f_p w_color f_700">Our Services</h2>
                        <p class="f_p w_color">Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over.!</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon">
                                <img src="/assets/usertheme/img/home9/icon4.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="f_size_20 f_p w_color f_600">Safer</h3>
                                <p class="f_400 f_size_15 w_color">Well at public scho cheeky bugger grub burke.!</p>
                            </div>
                        </div>
                        <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.3s">
                            <div class="icon">
                                <img src="/assets/usertheme/img/home9/icon7.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="f_size_20 f_p w_color f_600">Flexible</h3>
                                <p class="f_400 f_size_15 w_color">Well at public scho cheeky bugger grub burke.!</p>
                            </div>
                        </div>
                        <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon">
                                <img src="/assets/usertheme/img/home9/icon5.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="f_size_20 f_p w_color f_600">Convinient</h3>
                                <p class="f_400 f_size_15 w_color">Well at public scho cheeky bugger grub burke.!</p>
                            </div>
                        </div>
                        <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="icon">
                                <img src="/assets/usertheme/img/home9/icon8.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="f_size_20 f_p w_color f_600">Protected</h3>
                                <p class="f_400 f_size_15 w_color">Well at public scho cheeky bugger grub burke.!</p>
                            </div>
                        </div>
                        <div class="col-md-6 media payment_service_item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon">
                                <img src="/assets/usertheme/img/home9/icon6.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="f_size_20 f_p w_color f_600">World wide</h3>
                                <p class="f_400 f_size_15 w_color">Well at public scho cheeky bugger grub burke.!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="payment_clients_area">
        <div class="clients_bg_shape_top"></div>
        <div class="clients_bg_shape_right"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="payment_features_content pr_70 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="icon">
                            <img class="/assets/usertheme/img_shape" src="/assets/usertheme/img/home9/icon_shape.png" alt="">
                            <img class="icon_img" src="/assets/usertheme/img/home9/icon2.png" alt="">
                        </div>
                        <h2>Quick & Easy Process</h2>
                        <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney argy-bargy cracking goal loo cheers spend.!</p>
                        <a href="#" class="btn_hover agency_banner_btn pay_btn">Sign Up for Free</a>
                        <a href="#" class="btn_hover agency_banner_btn pay_btn pay_btn_two">Sign Up for Free</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="payment_clients_inner">
                        <div class="clients_item one wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="/assets/usertheme/img/home9/logo1.png" alt="">
                        </div>
                        <div class="clients_item two wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="/assets/usertheme/img/home9/logo2.png" alt="">
                        </div>
                        <div class="clients_item three wow fadeInLeft" data-wow-delay="0.4s">
                            <img src="/assets/usertheme/img/home9/logo3.png" alt="">
                        </div>
                        <div class="clients_item four wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="/assets/usertheme/img/home9/logo4.png" alt="">
                        </div>
                        <div class="clients_item five wow fadeInLeft" data-wow-delay="0.6s">
                            <img src="/assets/usertheme/img/home9/logo5.png" alt="">
                        </div>
                        <div class="clients_item six wow fadeInLeft" data-wow-delay="0.7s">
                            <img src="/assets/usertheme/img/home9/logo6.png" alt="">
                        </div>
                        <div class="clients_item seven wow fadeInLeft" data-wow-delay="0.8s">
                            <img src="/assets/usertheme/img/home9/logo7.png" alt="">
                        </div>
                        <div class="clients_item eight wow fadeInLeft" data-wow-delay="0.8s">
                            <img src="/assets/usertheme/img/home9/logo8.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="agency_featured_area bg_color">
        <div class="container">
            <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">You SaasLand wherever your<br> business agency</h2>
            <div class="features_info">
                <img class="dot_img" src="/assets/usertheme/img/home4/dot.png" alt="">
                <div class="row agency_featured_item flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                            <img src="/assets/usertheme/img/home4/work1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                            <img class="number" src="/assets/usertheme/img/home4/icon01.png" alt="">
                            <h3>With efficiency to unlock more opportunities</h3>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack
                                excuse my French what a plonker blower.!</p>
                            <a href="#" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row agency_featured_item agency_featured_item_two">
                    <div class="col-lg-6">
                        <div class="agency_featured_img text-right wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <img src="/assets/usertheme/img/home4/work2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="agency_featured_content pl_100 wow fadeInRight" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                            <img class="number" src="/assets/usertheme/img/home4/icon02.png" alt="">
                            <h3>Wuth instant data to keep everyone in the know</h3>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack
                                excuse my French what a plonker blower.!</p>
                            <a href="#" class="icon mt_30"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row agency_featured_item flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                            <img src="/assets/usertheme/img/home4/work3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="agency_featured_content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                            <img class="number" src="/assets/usertheme/img/home4/icon3.png" alt="">
                            <h3>With efficiency to unlock more opportunities</h3>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack
                                excuse my French what a plonker blower.!</p>
                            <a href="#" class="btn_hover agency_banner_btn mt_30">Get in Touch</a>
                        </div>
                    </div>
                </div>
                <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div>
            </div>
        </div>
    </section>

    <section class="payment_action_area">
        <div class="clients_bg_shape_bottom"></div>
        <div class="container">
            <div class="payment_action_content text-center wow fadeInUp" data-wow-delay="0.2s">
                <div class="pay_icon">
                    <div class="icon_shape"></div>
                    <img class="icon_img" src="/assets/usertheme/img/home9/icon2.png" alt="">
                </div>
                <h2 class="f_p t_color f_700">Join 200 million PayPal users worldwide.</h2>
                <p>All you need is an email address or mobile phone number to transfer money. If they<br> don't have an account, they can create one quickly, for free.</p>
                <a href="#" class="btn_hover agency_banner_btn pay_btn pay_btn_two">Sign Up for Free</a>
            </div>
        </div>
    </section>

    <section class="s_subscribe_area">
        <div class="s_shap">
            <svg class="right_shape" xmlns="http:/www.w3.org/2000/svg" xmlns:xlink="http:/www.w3.org/1999/xlink">
                <defs>
                    <linearGradient id="PSgrad_5">
                        <stop offset="0%" stop-color="rgb(103,84,226)" stop-opacity="0.95"></stop>
                        <stop offset="100%" stop-color="rgb(25,204,230)" stop-opacity="0.95"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#PSgrad_5)" d="M543.941,156.289 L227.889,41.364 C184.251,25.497 136.000,47.975 120.118,91.571 L5.084,407.325 C-10.799,450.921 11.701,499.127 55.339,514.995 L371.391,629.920 C415.029,645.788 463.280,623.309 479.162,579.713 L594.196,263.959 C610.079,220.362 587.579,172.157 543.941,156.289 Z"></path>
                <path fill="url(#PSgrad_5)" d="M625.661,120.004 L309.609,5.079 C265.971,-10.790 217.720,11.689 201.838,55.286 L86.804,371.039 C70.921,414.636 93.421,462.842 137.059,478.709 L453.111,593.634 C496.749,609.502 545.000,587.024 560.882,543.427 L675.916,227.673 C691.799,184.077 669.299,135.872 625.661,120.004 Z"></path>
            </svg>
            <svg class="bottom_shape" xmlns="http:/www.w3.org/2000/svg" xmlns:xlink="http:/www.w3.org/1999/xlink">
                <defs>
                    <linearGradient id="PSgrad_6" x1="76.604%" x2="0%" y1="0%" y2="64.279%">
                        <stop offset="0%" stop-color="rgb(103,84,226)" stop-opacity="0.95"></stop>
                        <stop offset="100%" stop-color="rgb(25,204,230)" stop-opacity="0.95"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#PSgrad_6)" d="M543.941,156.289 L227.889,41.365 C184.251,25.496 136.000,47.975 120.118,91.572 L5.084,407.325 C-10.799,450.922 11.701,499.127 55.339,514.995 L371.391,629.920 C415.029,645.788 463.280,623.310 479.162,579.713 L594.196,263.959 C610.079,220.362 587.579,172.157 543.941,156.289 Z"></path>
                <path fill="url(#PSgrad_6)" d="M625.661,120.004 L309.609,5.078 C265.971,-10.789 217.720,11.689 201.838,55.286 L86.804,371.040 C70.921,414.636 93.421,462.842 137.059,478.709 L453.111,593.634 C496.749,609.502 545.000,587.023 560.882,543.427 L675.916,227.673 C691.799,184.077 669.299,135.871 625.661,120.004 Z"></path>
            </svg>
        </div>
        <div class="container">
            <div class="sec_title text-center mb_50 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color">Newsletter Personalized for You</h2>
                <p class="f_400 f_size_18 l_height34">Instant Sign Up. Cancel Anytime. No Credit Card Required</p>
            </div>
            <form class="mailchimp wow fadeInUp" data-wow-delay="0.6s" method="post" novalidate="true" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="input-group s_subcribes">
                    <input type="text" name="EMAIL" class="form-control memail" placeholder="E-Mail Address">
                    <button class="btn btn-submit" type="submit"><i class="ti-arrow-right"></i></button>
                </div>
                <p class="mchimp-errmessage" style="display: none;"></p>
                <p class="mchimp-sucmessage" style="display: none;"></p>
            </form>
        </div>
    </section>
    
    <app-footer></app-footer>

</div>