<footer class="footer_nine_area">
    <div class="footer_nine_top">
        <div class="footer_shap left"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="f_widget company_widget pr_100">
                        <a href="index.html" class="f-logo"><img src="/assets/usertheme/img/logo.png" srcset="/assets/usertheme/img/logo2x.png 2x" alt=""></a>
                        <p class="f_400 f_p f_size_16 mb-0 l_height28 mt_40">Tickety-boo victoria sponge only a quid I don't want no agro morish bum bag gutted mate up the duff, bloke blag cup of char super bugger all mate.!</p>
                        <div class="f_social_icon_two mt_30">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-vimeo-alt"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_500 f_size_16 mb-30">About Us</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_500 f_size_16 mb-30">Help & Suport</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Help aand Contact</a></li>
                            <li><a href="#">Fees</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">App</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pl_100">
                    <div class="f_widget about-widget">
                        <h3 class="f-title f_500 f_size_16 mb-30">Privacy Contact</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal Agreement</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_nine_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 align-self-center">
                    <p class="mb-0 f_400">Copyright © 2018 Desing by <a href="#">DroitThemes</a></p>
                </div>
                <div class="col-sm-5">
                    <select class="selectpicker flag_selector" data-width="fit">
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                        <option data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Potogal</option>
                        <option data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Brazil</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</footer>
